<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="ru.pva33.whereparking"
    xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="1"
    android:versionName="1">

    <!-- Enable gps and network geolocation -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/parking"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <service
            android:name=".PvaParkingService"
            android:exported="true"
            android:process=":remote">

            <!-- starts service when starts activity -->
            <intent-filter>
                <action android:name="ru.pva33.whereparking.PvaParkingService"/>
            </intent-filter>
        </service>

        <receiver
            android:name=".OnBootReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings">
        </activity>
        <activity
            android:name=".SoundRecorderActivity"
            android:label="@string/title_activity_sound_recorder">
        </activity>
    </application>

</manifest>
